.version-plugin-row:hover .version-plugin-modifier,
.version-plugin-row:hover .version-plugin-row-short-time
{
	display: none;
}

.version-plugin-row:hover .version-plugin-actions,
.version-plugin-row:hover .version-plugin-row-long-time
{
	display: inline-block;
}

.version-plugin-actions {
	display: none;
}

.version-plugin-btn {
	height: 20px;
	padding: 0px 4px;
	display: inline;
}

.version-plugin-table-wrap-narrow {
	padding: 10px;
}

.version-plugin-row-long-time {
	display: none;
}

.version-plugin-view {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 10;
	background-color: #ffffff2e;
}

.version-plugin-view-container {
	background-color: cadetblue;
    margin: 10%;
	height: 75%;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 30px #000000;
}

.version-plugin-text {
	height: 100%;
	outline: none;
	border: none;
}

.version-plugin-view-tip {
	margin: auto;
    bottom: 0;
    text-align: center;
    font-size: 17px;
    background-color: #ffffffdb;
    box-shadow: 0px 0px 20px #0e0e0e;
}

.version-plugin-highlight {
	color: chartreuse;
}